<app-dashboard></app-dashboard>
<div class="page">
  <nav class="navbar narbar-light ">
    <div class="container-fluid">
        <h1 style="color: whitesmoke; margin-left: 270px;">Staff Members</h1>
        <input class="form-control" style="margin-left: 70%;" type="text"
        name="name" [(ngModel)]="name" (ngModelChange)="Search()"
        placeholder="search by name">
    </div>
  </nav>
  <!-- <div class="row"> -->
  <!-- <app-nav></app-nav> -->
  <div class="list">
    <div class="col-xl- mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="https://i.pinimg.com/originals/30/78/87/3078878c28223316693ecbed8b03bcb9.jpg"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Nkosinathi Mpofu</p>
                <p class="text-muted mb-0">nkosinathi@gmail.com</p>
                <p class="text-muted mb-0">013 665 1245</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Delete<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Edit<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl- mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="https://th.bing.com/th/id/OIP.3zht-3oE_BClDwKSbDH4ZwHaHa?pid=ImgDet&w=900&h=900&rs=1"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Rebecca Mpofu</p>
                <p class="text-muted mb-0">rebecca@gmail.com</p>
                <p class="text-muted mb-0">013 665 1234</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Delete<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Edit<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl- mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="https://th.bing.com/th/id/OIP.Yn3nHngWyRyColVPWS7vSwHaHa?pid=ImgDet&w=148&h=148&c=7"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Banele Mpofu</p>
                <p class="text-muted mb-0">banele@gmail.com</p>
                <p class="text-muted mb-0">013 665 1234</p>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer border-0 bg-light p-2 d-flex justify-content-around">
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Delete<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Edit<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
    <div class="col-xl- mb-4">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <img
                src="https://th.bing.com/th/id/R.db144b4c00b946694d62ed2e050804d9?rik=hkC0CKWLNasi0A&riu=http%3a%2f%2f3.bp.blogspot.com%2f-AMcAwqFbRlI%2fUim03JRfJFI%2fAAAAAAACAUA%2fpOMC_yPa43g%2fs1600%2f3.jpg&ehk=%2bIDWkhf8qoT%2fX7Q%2bNWBJLyiS18HLc9gMDSKMUn6wgWc%3d&risl=&pid=ImgRaw&r=0"
                alt=""
                style="width: 45px; height: 45px"
                class="rounded-circle"
              />
              <div class="ms-3">
                <p class="fw-bold mb-1">Thandi Masanabo</p>
                <p class="text-muted mb-0">thandi@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
        <div
          class="card-footer border-0 bg-light p-2 d-flex justify-content-around"
        >
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Delete<i class="fas fa-envelope ms-2"></i
          ></a>
          <a
            class="btn btn-link m-0 text-reset"
            href="#"
            role="button"
            data-ripple-color="primary"
            >Edit<i class="fas fa-phone ms-2"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>




    <!-- <nav class="navbar narbar-light bg-primary">
      <div class="container-fluid">
          <h1 style="color: whitesmoke;">Staff Members</h1>
          <input class="form-control" style="margin-left: 70%;" type="text"
          name="name" [(ngModel)]="name" (ngModelChange)="Search()"
          placeholder="search by name">
      </div>
  </nav>
  <div class="container mob-table">
  <app-nav></app-nav>
  <div class="table bg-primary">
    <table class="table mt-4">
      <thead>
          <tr style="color: whitesmoke;">
              <th scope="col">Number</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Mobile</th>
              <th scope="col">Actions</th>
          </tr>
      </thead>
      <tbody style="color: antiquewhite;">
          <tr *ngFor="let staff of staff">
              <td>{{staff.number}}</td>
              <td>{{staff.name}}</td>
              <td>{{staff.email}}</td>
              <td>{{staff.mobile}}</td>
              <td>
                  <button class="btn btn-danger" (click)="deleteRow(staff.number)">DELETE</button>
                  &nbsp;&nbsp;    
                  <button class="btn btn-info" (click)="update(staff.number)">EDIT</button>
              </td>
          </tr>
      </tbody>
      
    </table>
  </div>
  
</div> -->


<!-- Modal -->
  <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Staff Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="mb-3">
                <label for="formGroupExampleInput" class="form-label">Name and Surname</label>
                <input type="text" class="form-control" id="formGroupExampleInput" placeholder="name and surname">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">email</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="email address">
              </div>
              <div class="mb-3">
                <label for="formGroupExampleInput2" class="form-label">Mobile</label>
                <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="phone number">
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Add</button>
        </div>
      </div>
    </div>
  </div> -->




