<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/CodingLabYT-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!--<title> Responsive Sidebar Menu  | CodingLab </title>-->
    <!-- <link rel="stylesheet" href="dashboard.component.css"> -->
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>

<body>
  <div class="wrapper">  <!--For screen resolution, yet its not working-->
    <div class="sidebar">
    <div class="logo-details">
      <i class="bx bxs-calendar-minus"></i>
      <span class="logo_name">TechServices</span>
    </div>
    <i class='bx bx-menu' id="btn" ></i>
    <ul class="nav-list">
      <li>
          <i class='bx bx-search' ></i>
         <input type="text" placeholder="Search...">

      </li>
      <li>
        <a href="">
          <i class='bx bx-grid-alt'></i>
          <span class="links_name">Dashboard</span>
        </a>
      </li>
      <li>
       <a href="/registration">
         <i class='bx bx-user' ></i>
         <span class="links_name">Register</span>
       </a>
     </li>
     <li>
      <a routerLink="/feedback">
        <i class='bx bx-add-to-queue'></i>
        <span class="links_name">Job Card</span>
      </a>
    </li>
     <li>
       <a href="#">
         <i class='bx bx-chat' ></i>
         <span class="links_name">Messages</span>
       </a>
     </li>
     <li>

       <a href="/report">
         <i class='bx bx-pie-chart-alt-2' ></i>
         <span class="links_name">Generate Report</span>
       </a>

     </li>
     <!-- *************************************************** -->
     <li>
      <a routerLink="/stafflist">
        <i class='bx bx-user'></i>
        <span class="links_name">View Staff Members</span>
      </a>
    </li>
    <li>
      <a routerLink="/artisanlist">
        <i class='bx bx-user'></i>
        <span class="links_name">View Artisan</span>
      </a>
    </li>
     <!-- *************************************************** -->
     <li>
       <a href="#">
         <i class='bx bx-folder' ></i>
         <span class="links_name">Print Report</span>
       </a>
     </li>
     <li>

       <a href="#">
         <i class='bx bx-cog' ></i>
         <span class="links_name">Settings</span>
       </a>

     </li>
     <br>
     <br>

     <li>
      <a href="#">
        <i class='bx bx-log-out' ></i>
        <span class="links_name">Log Out</span>
      </a>
    </li>
    </ul>
  </div>

</div>
<!--Displaying honme section on the admin dashboard-->






